{% extends 'base.html.twig' %}
{% block title %}Курс в Национальном Банке{% endblock %}
{% block head %}
    {% block script %}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
            google.charts.load('current', {'packages':['line']});
            google.charts.setOnLoadCallback(drawChart);

            function drawChart() {

                var data = new google.visualization.DataTable();
                data.addColumn('number', 'Число');
                data.addColumn('number', 'PLN');
                data.addColumn('number', 'RUB');
                data.addColumn('number', 'USD');
                data.addColumn('number', 'EUR');

                data.addRows({{ arr }});


                var options = {
                    chart: {
                        title: 'Курс за 7 дней'
                    },
                    width: 900,
                    height: 500,
                    axes: {
                        x: {
                            0: {side: 'top'}
                        }
                    }
                };

                var chart = new google.charts.Line(document.getElementById('line_top_x'));

                chart.draw(data, google.charts.Line.convertOptions(options));
            }
        </script>
    {% endblock %}
{% endblock %}

{% block rate %}
    <section class="today-info">
        <div class="container" >

                    {% if api != null %}
                        <table width="80%" class="table-rate">
                            <tr>
                                <td width="25%"></td>
                                <td width="50%"></td>
                                <td width="25%">Курс</td>
                            </tr>

                            {% for key, value in api %}
                                <tr>
                                    <td>1.{{ value.cc }}</td>
                                    <td>{{ value.txt }}</td>
                                    <td><span class="size65">{{ value.rate|round(2, 'common') }}</span>грн</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="3" class="sentence">
                                    <a name="convert"></a>
                                    <span>По сравнению со вчера: </span>
                                </td>
                            </tr>
                        </table>
                    {% endif %}
            <form class="form-convert form-horizontal" method="get" action="#convert">
                <div class="form-group" style="width: 100%;">
                    <label for="mail" class="font-form col-sm-2 control-label"></label>
                    <div class=" col-sm-10" style="width: 80%;">
                        <select class="form-control form-control-lg" name="convertView">
                            <option value="usd">USD</option>
                            <option value="eur">EUR</option>
                            <option value="rub">RUB</option>
                            <option value="pln">PLN</option>
                        </select>
                        <input type="text" name="convert" class="convert form-control" id="mail" value="{{ app.request.query.get("convert") }}">
                        <button type="submit" class="font-form btn btn-success">Конвертировать</button>
                        {% if  convert != null %}
                            <span class="convert-span">{{ convert|round(2, 'common') }} </span>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}